.fishList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1em;
    
}

.fish__name {
    font-size: 1em;
} 

.card {
   
    
    box-shadow: 
}

.fish {
    box-align: center;
    padding: .5em;
    border: 2px solid black;
    border-radius: 10px;
    margin: .5em;
}

.fish__img {
    border-radius: 10px;
}



