@import "./fish-list.css";
@import "./location.css";
@import "./tips-list.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

body {
    font-family: 'Noto Serif' , sans-serif;
    
}


main {
    display: flex;
    padding: 1em;
    justify-content: space-between;
}

header {
    
    text-align: left;
}


.large__container {
    flex: 3;
    height: auto;
    
}

aside {
    flex: 1;
    height: 70%;
   
}

img {
    width: 300px;
    height: auto;

}

.fish__title {
    
}

