@import "./fish-list.css";
@import "./travel.css";
@import "./fish-care.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

body {
    font-family: 'Noto Serif' , sans-serif;
    
}


main {
    display: flex;
    padding: 1em;
    justify-content: space-between;
}

header {
    
    text-align: left;
}


.large__container {
    flex: 3;
    margin: 1em;
}

.aside {
    flex: 1;
   
}

img {
    width: 300px;

}

.fish__title {
    
}

